@tailwind base;
@tailwind components;
@tailwind utilities;

body { 
    background-color: #f7f7f7; 
    font-family: Inter, ui-sans-serif, system-ui; 
}

@keyframes fadeIn {
  from { opacity: 0; translate: 0 10px; }
  to { opacity: 1; translate: 0 0; }
}
.animate-fadeIn { animation: fadeIn 0.5s ease-out; }

@keyframes fadeInSlow {
  from { opacity: 0; transform: translateY(15px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fadeInSlow { animation: fadeInSlow 0.8s ease-out; }

@keyframes slideDown {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-slideDown { animation: slideDown 0.4s ease-out; }
